* {
    box-sizing: border-box;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

.header {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 80vw;
    background-color: aqua;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;    
}

.header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    height: 100%;
    width: 20%;  
    z-index: -1;  
}

ul {
    list-style: square;
    margin: 0px;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
}

li:hover {
    color: white;
}

.header h2 {
    transform: rotate(-90deg) translate(3px, 30px);
    letter-spacing: .4rem;
}

.masked-image {
    position: absolute;
    right:0;
    bottom:0;
}

.masked-image h1 {
    font-size: 12vw;    
}

.skew {
    position: absolute;
    display:flex;
    top: 0;
    left: 0;
    transform: translate(-25vw, 10vh) rotate(-30deg);
    border-top: 12px solid rgb(0, 60, 94);
    Border-bottom: 12px solid rgb(0, 60, 94);
    justify-content: center;
    align-content: center;
    width: 40vw;
    
}

.skew p {
    letter-spacing: .5vw;
    white-space:  nowrap;
    
    
}